[submodule ".\\Ganymede\\vendor\\spdlog"]
	path = .\\Ganymede\\vendor\\spdlog
	url = https://github.com/gabime/spdlog.git
[submodule ".\\Ganymede\\vendor\\GLFW"]
	path = .\\Ganymede\\vendor\\GLFW
	url = git@github.com:Bazzas-Forks/glfw.git
[submodule "Ganymede/vendor/imgui"]
	path = Ganymede/vendor/imgui
	url = git@github.com:Bazzas-Forks/imgui.git
[submodule "Ganymede/vendor/glm"]
	path = Ganymede/vendor/glm
	url = https://github.com/g-truc/glm.git
